.notification {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 840px;
    border-radius: 10px;
    background-color: #fffbdc;
}

.notification__title {
    margin: 0;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;

}

.notification_loading {
    background-color: #9cd2ff;
}

.notification_error {
    background-color: #ff8d8d;
}

.notification_success {
    background-color: #94ffef;
}