.form {
    max-width: 500px;
}

.form__name {
    margin-bottom: 10px;
}

.form__description {
    margin-bottom: 10px;
}

.form__error {
    color: #f55b5b;
}

.form__tags {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
    padding-inline: 12px;
}

.form__multiselect {
    margin-left: 12px;
    margin-bottom: 10px;
}

.form__overview {
    grid-template-columns: repeat(6, 1fr);
    padding-inline: 12px;
    margin-bottom: 10px;
}


.form__comments {
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 5px;
    padding-inline: 12px;
    max-height: 250px;

}


.form__add {
    background-color: transparent;
    color: var(--button-bg);
    justify-content: center;
}

.form__add:hover,
.form__add:focus {
    background-color: transparent;
    color: var(--button-bg--hover);
}

.button_empty:disabled,
.button_empty:disabled:hover,
.button_empty:disabled:focus {
    background-color: transparent;
    color: var(--button-bg--disabled);
}


.form__submit {
    margin: 0 auto;
}




