.list {
    list-style: none;
    margin: 0;
    padding: 0 6px 0 12px;
    min-height: 50px;
    border-radius: 6px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.list li {
    margin-bottom: 10px;
}

.list_dragged_over {
    background-color: #c4c9cc;
    transition: background-color 0.2s ease;
}


