.input {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.input__text {
    margin-right: 0.5rem
}

.input__field_wrapper {
    flex-grow: 1;
}

.input__field {
    width: 100%;
    box-sizing: border-box;
    padding: 0.8rem;
    height: 40px;

    font-size: 1.1rem;
    color: var(--text-color-base);
    border: none;
    border-bottom: 2px solid var(--input-border-color);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.input__area {
    width: 100%;
    height: 150px;
    resize: none;
}

.input__field:hover,
.input__field:focus {
    outline: none;
    border-color: var(--input-border-color--hover);
}

.input__field:disabled {
    opacity: 0.5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.input__field:disabled:hover,
.input__field:disabled:hover {
    outline: none;
    border-color: var(--input-border-color)
}








