.list {
    max-height: 150px;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list_item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.checkbox {
    margin-right: 5px;
}

.cross {
    margin-left: 0.2em;
}
