.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    background-color: var(--button-bg);
    border: none;
    padding: 10px 15px 10px;
    margin: 0 auto;
    border-radius: 30px;
}

.button:hover {
    background-color: var(--button-bg--hover);
}

.button:disabled,
.button:disabled:hover,
.button:disabled:focus {
    background-color: var(--button-bg--disabled);
}

.cross {
    padding-top: 1px;
    display: block;
    margin-right: 0.3rem;
}

.button_empty {
    background-color: transparent;
    color: var(--button-bg);
}

.button_empty path {
    stroke: var(--button-bg);
}

.button_empty:hover {
    background-color: transparent;
    color: var(--button-bg--hover);
    /*outline: 2px solid var(--button-bg--hover);*/
}

.button_empty:hover path {
    stroke: var(--button-bg--hover);
}

.button_empty:disabled,
.button_empty:disabled:hover,
.button_empty:disabled:focus {
    background-color: transparent;
    color: var(--button-bg--disabled);
    /*outline: none;*/
}

.button_empty:disabled path,
.button_empty:disabled:hover path,
.button_empty:disabled:focus path{
    stroke: var(--button-bg--disabled);
}


